
html{
 font-size: 62.5%;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

.encabezado {
    width: 100%;
    background-color: #111111;
    height: 20vh;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
}
.menu{

    display: flex;
    flex-wrap: wrap;
}
.encabezado img {

    margin-left: 50px;
    
}

ul, ol{
list-style: none;
}

.menu .list{
    display: flex;

}
.menu .list li a{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111111;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 15px;

}

.menu .list a:hover{

    color: #5BC0EB;

}
    .list li ul {
        display: none;
        position: absolute;
        margin-top: 2rem;

    }

  .menu li:hover ul{

    display: block;

  }  

.vistaprevia{

    display: flex;
    
}

.bloque{
    width: 70rem;
    height: 30rem;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    margin: 1rem;
}

@media  (max-width: 768px){

    .vistaprevia{

        display: block;
    
}

.bloque{

    width: 100%;

}

}


.bloque a{

    position: relative;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #5BC0EB;
    text-decoration: none;
    padding: .5rem;
    border-radius: 1rem;
    top: 25rem;
    margin: 1rem;

}

.button a{
    margin:25rem;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #5BC0EB;
    text-decoration: none;
    padding: .5rem;
    border-radius: 1rem;

}
.contenido-principal{
    display: flex;
}



.contenedor{
    width: 50%;
    border-right:  #918F8F 2px solid;
    border-top:    #918F8F 2px solid;
    border-bottom: #918F8F 2px solid;    
    margin-top: 7rem;
    margin-right: 20rem;
    margin-bottom: 7rem;
}


.reciente{
    width: 30%;
    border-top:  #918F8F 2px solid;
    border-left: #918F8F 2px solid;
    border-bottom: #918F8F 2px solid;
    margin-top: 7rem;
    margin-bottom: 7rem;
    
}



@media (max-width: 768px){
    .contenido-principal{

        display: block;

}

    .contenedor{

        width: 100%;

    }

    .reciente{
        width: 100%;

    }

}


.contenido {
    display: flex;
    margin: 5rem;
    overflow: hidden;

}

.contenido p{
    
    font-size:  1.5rem;
    color: #918F8F;
    margin-left: 10px;

}

.contenido-principal h1{ 
    font-size: 20px;
    border-bottom: #918F8F 2px solid;
    padding: 10px;  
}

.footer-blog {
    
    color: #ffffff;
    height: 10vh ;
    background-color: #111111;
    
}
