
body{
    font-family: Arial, Helvetica, sans-serif;

}

.encabezado {

    background-color: #111111;
    height: 20vh;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
}

.barra{

    display: flex;
    padding: 50px;
    
}
.encabezado img {

    margin-left: 50px;
    

}

.menu a {
    color: #ffffff;
    margin-right: 50px;
    text-decoration: none;
    font-size: 15px;

}

.menu a:hover{

    color: #5BC0EB;

}

.search-blog{

    display: flex;

}

@media (max-width: 700px){

    .barra{
        
        display: block;
        
    }



}

.vistaprevia{

    display: flex;
    

}

.vistaprevia img{

    height: 220px;
    margin: 5px;

}


.contenedor{
    width: 40%;
    border-right:#656362 2px solid;
    border-top:#656362 2px solid;
    border-bottom: #D9D7D6 2px solid;    
    margin: 50px 0px 50px 50px;
    float: left;
    
}

.reciente
{
    margin-left: 200px;
}
.contenedor img{

    display: block;
    margin-top: 30px;

}

.contenido {
    display: flex;
    
}

.contenido p{
    font-size:  1rem;
    margin: 0px 30px 30px 30px;

}

.contenedor h1{

    font-size: 20px;
    border-bottom: #656362 2px solid;
    padding: 10px;
    

}

.footer-blog {
    height: 10vh ;
    background-color: #111111;
    bottom: 0px;
}
